article

  section
    img(src='images/logo.svg')

  section.emphatic-text(data-bespoke-backdrop='lightning')
    h1 Electricity: A Primer

  section(data-bespoke-backdrop='static')
    h2 Audience
    p.delayed People who haven't thought about circuits since school
    p.delayed e.g. Me.

  section(data-bespoke-backdrop='cables')
    h2.delayed What is it?
    p.delayed Energy resulting from the flow of electrons around a circuit

    aside
      ul
        li Probably not this
        li This just looks dangerous

  section(data-bespoke-backdrop='mains')
    h1 AC

    aside
      ul
        li Alternating Current
        li Comes from the mains
        li Not covered in this talk

  section(data-bespoke-backdrop='battery-cat')
    h1 DC

    aside
      p Direct Current
      p Lives in batteries
      p Bit simpler to deal with

  section(data-bespoke-backdrop='ohm')
    img(src='images/ohm.gif')

  section
    h2 Ohm's Law
    h3
      pre
        code v = i r
    ul.delayed
      li.delayed Voltage, volts - v
      li.delayed Current, amperes - i
      li.delayed Resistance, ohms - r

  section(data-bespoke-backdrop='troll')
    img(src='images/troll.jpg')

  section
    h2 Voltage
    p Potential difference in a circuit

    aside
      ul
        li Potential for current to flow
        li High tank drains into low tank

  section(data-bespoke-backdrop='battery')
    img(src='images/battery.png')

  section
    h2 Amps
    ul.delayed
      li.delayed A measurement of current
      li.delayed Current is charge moving over time
      li.delayed Charge is measured in columbs
      li.delayed 1 columb per second
      li.delayed 1 columb = 6.241×10<sup>18</sup> * charge of one proton

  section
    h2 Amps
    ul.delayed
      li.delayed Columbs are <code>c</code> in SI units
      li.delayed Amps are <code>A</code> in SI units
      li.delayed Ohm refers to Amps as <code>i</code>
      li.delayed Thanks for nothing SI

  section
    h2 Resistors
    img(src='images/resistors.png')

  section
    h2 Resistors
    ul.delayed
      li.delayed Limits the flow of current
      li.delayed Used to reduce voltage in a circuit
      li.delayed Can come in many forms

  section
    img(src='images/more-resistors.jpg')
    
  section
    img(src='images/resistor-chart.jpg')

  section
    h2 How do I use resistors?
    img(src='images/led-circuit.gif')

    aside
      ul
        li Explain battery, LED, resistor
        li How to calculate resistor needed?
        
  section
    h2 How do I use resistors?
    ul.delayed
      li.delayed Circuit at 9v
      li.delayed Examine spec sheet!
      li.delayed LED needs 20mA
      li.delayed r = v / i
      li.delayed r = 9 / 0.02
      li.delayed r = 450&#8486;

  section
    h2 Ohm's Law
    iframe(src='http://www.falstad.com/circuit/circuitjs.html?cct=$+1+0.000005+10.200277308269968+50+5+50%0Ar+400+112+400+240+0+100%0A172+448+112+448+64+0+6+5+5+0+0+0.5+Voltage%0Ag+400+272+400+288+0%0Aw+400+240+400+272+1%0Ar+496+112+496+240+0+1000%0Aw+496+240+496+272+1%0Ag+496+272+496+288+0%0Aw+448+112+496+112+0%0Aw+400+112+448+112+0%0A')

  section
    h2 Resistors in series
    iframe(src='http://www.falstad.com/circuit/circuitjs.html?cct=$+1+0.000005+10.200277308269968+50+5+50%0Av+400+384+400+64+0+0+40+5+0+0+0.5%0Ar+496+96+496+160+0+100%0Aw+400+64+496+64+2%0Aw+496+64+496+96+0%0Aw+496+384+400+384+0%0Ar+496+208+496+256+0+100%0A162+496+304+496+352+1+2.1024259+1+0+0%0Aw+496+160+496+208+2%0Aw+496+256+496+304+2%0Aw+496+352+496+384+0%0A')
    
  section
    h2 Resistors in series
    p R<sub>total</sub> = R<sub>1</sub> + R<sub>2</sub> + R<sub>3</sub> + ...

  section
    h2 Resistors in parallel
    iframe(src='http://www.falstad.com/circuit/circuitjs.html?cct=$+1+0.000005+10.200277308269968+50+5+50%0Av+352+384+352+64+0+0+40+5+0+0+0.5%0Ar+448+96+448+160+0+100%0Aw+352+64+448+64+2%0Aw+448+64+448+96+0%0Aw+448+384+352+384+0%0Aw+448+160+448+208+0%0Ar+544+112+544+144+0+100%0Aw+448+64+544+64+0%0Aw+544+64+544+112+0%0Aw+544+144+544+208+0%0Aw+544+208+496+208+0%0Aw+496+208+448+208+0%0A162+496+288+496+336+1+2.1024259+1+0+0%0Aw+496+208+496+288+2%0Aw+496+336+496+384+0%0Aw+496+384+448+384+0%0A')

  section
    h2 Resistors in parallel
    p 1 / R<sub>total</sub> = (1 / R<sub>1</sub>) + (1 / R<sub>2</sub>) + (1 / R<sub>3</sub>) + ...

  section
    h2 Enough theory!
    img(src='images/static-kitten.jpg')
    
  section
    h2 LEDs in series
    iframe(src='http://www.falstad.com/circuit/circuitjs.html?cct=$+1+0.000005+10.200277308269968+50+5+43%0Av+352+352+352+80+0+0+40+5+0+0+0.5%0A162+496+96+496+144+1+2.1024259+1+0+0%0A162+496+192+496+240+1+2.1024259+1+0+0%0A162+496+288+496+336+1+2.1024259+1+0+0%0Ar+400+80+448+80+0+50%0Aw+352+80+400+80+2%0Aw+448+80+496+80+2%0Aw+496+80+496+96+0%0Aw+496+144+496+192+2%0Aw+496+240+496+288+2%0Aw+496+336+496+352+0%0Aw+496+352+352+352+0%0A')

  section
    h2 LEDs in series
    iframe(src='http://www.falstad.com/circuit/circuitjs.html?cct=$+1+0.000005+10.200277308269968+50+5+43%0Av+272+352+272+80+0+0+40+5+0+0+0.5%0Ar+352+80+416+80+0+50%0A162+464+160+464+224+1+2.1024259+1+0+0%0A162+560+160+560+224+1+2.1024259+1+0+0%0A162+656+160+656+224+1+2.1024259+1+0+0%0Aw+272+80+352+80+2%0Aw+464+160+464+128+2%0Aw+464+128+560+128+0%0Aw+560+128+560+160+2%0Aw+656+160+656+128+2%0Aw+656+128+560+128+0%0Aw+560+128+560+80+0%0Aw+560+80+416+80+2%0Aw+464+224+464+256+0%0Aw+464+256+560+256+0%0Aw+560+256+560+224+0%0Aw+560+352+272+352+0%0Aw+560+256+656+256+0%0Aw+656+256+656+224+0%0Aw+560+256+560+352+0%0A')
    
  section
    h2 Light detector
    ul.delayed
      li.delayed Light Dependent Resistor
      li.delayed Variable resistor
      li.delayed With light - low resistance (100s of &#8486;)
      li.delayed In darkness - high resistance (M&#8486;s)

  section
    h2 Light detector
    iframe(src='http://www.falstad.com/circuit/circuitjs.html?cct=$+1+0.000005+10.200277308269968+50+5+43%0Av+544+336+544+64+0+0+40+5+0+0+0.5%0Ar+432+80+432+112+0+150%0At+400+224+432+224+0+1+0.6515443225679627+0.6691587985834793+100%0A162+432+144+432+176+1+2.1024259+1+0.5+0%0Aw+432+80+432+64+0%0Aw+432+64+544+64+0%0Aw+432+112+432+144+0%0Aw+432+176+432+208+0%0Aw+432+240+432+336+0%0Aw+432+336+544+336+0%0Aw+320+64+432+64+0%0Ar+320+112+320+160+0+400%0Aw+320+64+320+112+0%0Aw+320+160+320+224+0%0Aw+320+224+400+224+0%0A')

  section
    h2 Transistor
    img(src='images/transistor.gif')
    
  section
    h2 Transistor
    ul.delayed
      li.delayed Can amplify or switch circuits
      li.delayed As base resistance varies, current in other circuit varies
      li.delayed An Arduino can vary voltage using PWM
      
  section
    h2 Enough theory again!
    img(src='images/static-cat.jpg')
    
  section
    h2 Darkness detector
    iframe(src='http://www.falstad.com/circuit/circuitjs.html?cct=$+1+0.000005+10.200277308269968+50+5+43%0Av+544+352+544+80+0+0+40+6+0+0+0.5%0Ar+432+96+432+128+0+330%0At+400+240+432+240+0+1+-5.017679931420304+0.23076923038252514+100%0A162+432+160+432+192+1+2.1024259+1+0.5+0%0Aw+432+96+432+80+0%0Aw+432+80+544+80+0%0Aw+432+128+432+160+0%0Aw+432+192+432+224+0%0Aw+432+256+432+352+0%0Aw+432+352+544+352+0%0Aw+320+80+432+80+0%0Ar+320+288+320+336+0+40%0Aw+320+240+320+288+0%0Aw+320+336+320+352+0%0Aw+320+352+432+352+0%0Aw+384+240+400+240+0%0Ar+320+128+320+176+0+1000%0Aw+320+80+320+128+2%0Aw+320+176+320+240+2%0Aw+320+240+384+240+0%0A')

  section
    h2 Recap
    ul.delayed
      li.delayed Components require different voltages
      li.delayed Use resistors to reduce voltage
      li.delayed Ohm's law <code>v = i r</code>
      li.delayed Read spec sheets!

  section
    h2 Next time at NodeBots of London
    ul.delayed
      li.delayed Components
      li.delayed Hardware debugging
      li.delayed Communications protocols

  section
    img(src='images/logo.svg')
