article

  section
    img(src='images/logo.svg')

  section.emphatic-text(data-bespoke-backdrop='lightning')
    h1 Electricity: A Primer

  section(data-bespoke-backdrop='static')
    h2 Audience
    ul
      li Beginners
      li Haven't thought about electrical engineering since school

  section(data-bespoke-backdrop='cables')
    h1 What is it?

  section(data-bespoke-backdrop='mains')
    h2 What is it?
    p The flow of electrons around a conductive circuit

  section(data-bespoke-backdrop='ohm')

  section
    h2 Ohm's Law
    ul
      li v = i r
      li Voltage, volts - v
      li Current, amperes - i
      li Resistance, ohms - r

  section(data-bespoke-backdrop='troll')

  section
    h1 hello world
