
.cables
  background-image: url(images/electricity.jpg)

.static
  background-image: url(images/static.jpg)

.mains
  background-image: url(images/mains.jpg)

.lightning
  background-image: url(images/lightning.jpg)

.ohm
  background-image: url(images/ohm.gif)

.troll
  background-image: url(images/troll.jpg)
